<h1>Users</h1>
<table>
  <thead>
  	<tr>
  	  <td>image</td>
  	  <td>name</td>
      <td></td>
  	</tr>
  </thead>
  <tbody>
   <% @users.each do |user| %>
   <tr>
   	<td><%= attachment_image_tag user, :profile_image, size:"100x100", format: 'jpeg' %></td>
   	<td><%= user.name %></td>
    <td><%= link_to "show"%> </td>
   </tr>
   <% end %>
  </tbody>
  </table>

  <%= render 'users/list', book: @book, user: @user %>
