
<% if flash[:notice] %>
  <div class="flash">
   <%= flash[:notice] %>
  </div>
 <% end %>

<h1>welcame to Bookers</h1>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Log in", new_user_session_path(current_user) %>